<!DOCTYPE html>
<!-- saved from url=(0027)https://www.justinbane.com/ -->
<html>

<head>
    <script src="https://p137.justinbane.com/script.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{name}} | Digital Solution Architect and Developer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

    <!-- Firebase setup -->
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCb3fz2lJK6s5n1wc35srAlxhIdQEN8JL4",
            authDomain: "justinbane-com.firebaseapp.com",
            databaseURL: "https://justinbane-com.firebaseio.com",
            projectId: "justinbane-com",
            storageBucket: "justinbane-com.appspot.com",
            messagingSenderId: "892925702235"
        };
        firebase.initializeApp(config);
    </script>
</head>

<body class="is-loading">
    <div id="app">
        
        <!-- Wrapper -->
        <div id="wrapper" class="divided">

            <!-- Banner -->
            <section class="banner style1 orient-left content-align-left image-position-left fullscreen onload-image-fade-in onload-content-fade-right">
                <div class="content">
                    <h1>{{ name }}</h1>
                    <p class="major">Buy all the things!!</p>
                    <form id="contactForm" v-show="showForm">
                        <div class="field half first">
                            <label :style="{ color: labelColor}" for="name">Name</label>
                            <input  v-model="name" type="text" name="name" id="name">
                        </div>
                        <div class="field half">
                            <label :style="{ color: labelColor}" for="email">Email</label>
                            <input v-model="email" type="email" name="email" id="email">
                        </div>
                        <div class="field">
                            <label :style="{ color: labelColor}" for="email">Coupon code</label>
                            <input v-model="coupon" type="text" name="coupon" id="coupon">
                        </div>
                        <ul class="actions">
                            <li><button class="button" id="submit" @click.prevent="submit">Send Message</button></li>
                        </ul>
                    </form>
                    <p v-show="!isValid" :style="{ color: labelColor}" v-text="statusMsg"></p>
                </div>
                <div class="image">
                    <img src="/images/logos.png" alt="Justin Bane">
                </div>
            </section>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>